<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <body>

        <ui:composition template="./WEB-INF/templates/main_template.xhtml">

            <ui:define name="content">


                <section class="container my-4">
                    <div class="row justify-content-center">
                        <div class="col-10 col-sm-4 col-lg-3">
                            <img class="img-fluid" src="resources/images/movie/#{showFunctionController.movie.imageName}" alt="movie image" />
                        </div>

                        <div class="col-12 col-sm-8 col-lg-9">
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <h3 class="text-capitalize my-3">#{showFunctionController.movie.title}<a href="#{showFunctionController.movie.trailer}" target="_blank" class="badge badge-secondary ml-2">Trailer</a></h3>
                                    <form>
                                        <div class="form-group row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Título Original:</strong></label>
                                            <div class="col-8 col-lg-9">
                                                <label class="col-form-label">#{showFunctionController.movie.originalTitle}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Genero/s:</strong></label>
                                            <div class="col-8 col-lg-9">
                                                <label class="col-form-label">

                                                    <ui:repeat value="#{showFunctionController.movie.genders}"  var="gender">
                                                        <h:outputText value="#{gender.name}" styleClass="mr-1 badge #{gender.name.length()%2 eq 0 ? 'badge-primary' : 'badge-success'}" />
                                                    </ui:repeat>

                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Duración:</strong></label>
                                            <div class="col-8 col-lg-9">
                                                <label class="col-form-label">#{showFunctionController.movie.runtime}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Censura:</strong></label>
                                            <div class="col-8 col-lg-9">
                                                <label class="col-form-label">#{showFunctionController.movie.censure}</label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Director/es:</strong></label>
                                            <div class="col-8 col-lg-9">

                                                <ui:repeat value="#{showFunctionController.movie.directors}"  var="director">
                                                    <h:outputLabel value="#{director.name}," styleClass="mr-1 col-form-label" />
                                                </ui:repeat>

                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Sinopsis:</strong></label>
                                            <div class="col-8 col-lg-9">
                                                <label class="col-form-label text-justify">
                                                    <h:outputText value="#{showFunctionController.preSynopsis}" />
                                                    <h:outputText id="morecontent-collapse" styleClass="collapse" value="#{showFunctionController.fullSynopsis}"/>
                                                    <ui:fragment rendered="#{showFunctionController.fullSynopsis ne null}" >
                                                        <a href="#morecontent-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="morecontent-collapse">
                                                            ver mas
                                                        </a>
                                                    </ui:fragment> 
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Fecha de Estreno:</strong></label>
                                            <div class="col-8 col-lg-9">
                                                <h:outputLabel value="#{showFunctionController.movie.releaseDate}" styleClass="col-form-label" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </h:outputLabel>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <h4 class="mt-4 text-info">Funciones Disponibles</h4>
                            <div class="row">
                                
                                <ui:repeat value="#{showFunctionController.functionsList}"  var="list">
                                    <div class="col-12 col-md-4 my-3">
                                        <h3 class="mb-3"><strong class="text-primary mr-1">#{list.format}</strong>#{list.type}</h3>
                                        <h:form>
                                            <div class="row no-gutters">
                                                <div class="col">
                                                    <ui:repeat value="#{list.functions}"  var="function">
                                                        <h:commandLink action="#{showFunctionController.selectFunction(function.id)}" styleClass="btn btn-info py-1 px-2 my-1 mx-1">
                                                            <h:outputText value="#{function.functionDateTime}" styleClass="col-form-label" >
                                                                <f:convertDateTime pattern="HH:mm" />
                                                            </h:outputText>
                                                        </h:commandLink> 
                                                    </ui:repeat>
                                                </div>
                                            </div>
                                        </h:form> 
                                    </div>
                                </ui:repeat>
                            </div>
                        </div>
                    </div>
                </section>
            </ui:define>

        </ui:composition>

    </body>
</html>

