<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./WEB-INF/templates/main_template.xhtml">    
            <ui:define name="auth">
                <f:event type="preRenderView" listener="#{authController.verifySession()}" />
            </ui:define>

            <ui:define name="content">
                <section class="container my-4">
                    <div class="row justify-content-center">
                        
                        <div class="col-12">
                            <h:panelGroup id="error-alert" layout="block" rendered="#{functionController.haveMessage('error-alert')}" styleClass="alert alert-danger alert-dismissible fade show mt-2">
                                <strong>Error, </strong>
                                <h:message for="error-alert"/>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h:panelGroup>

                            <h:panelGroup id="success-alert" layout="block" rendered="#{functionController.haveMessage('success-alert')}" styleClass="alert alert-success alert-dismissible fade show mt-2">
                                <strong>Éxito, </strong>
                                <h:message for="success-alert"/>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h:panelGroup>
                        </div>

                        <div class="col-12">
                            <h:form>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label>Pelicula:</label>
                                        <h:selectOneMenu value="#{functionController.function.idMovie}" styleClass="form-control"> 
                                            <f:selectItems value="#{functionController.movies}" var="movie" itemValue="#{movie.id}" itemLabel="#{movie.title}"/> 
                                        </h:selectOneMenu> 
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Sala:</label>
                                        <h:selectOneMenu value="#{functionController.function.idHall}" styleClass="form-control"> 
                                            <f:selectItems value="#{functionController.theaters}" var="hall" itemValue="#{hall.id}" itemLabel="#{hall.name}"/> 
                                        </h:selectOneMenu> 
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label>Tipo:</label>
                                        <div class="input-group mb-2">
                                            <h:selectOneMenu value="#{functionController.function.idFunctionType}" styleClass="form-control"> 
                                                <f:selectItems value="#{functionController.functionTypes}" var="ft" itemValue="#{ft.id}" itemLabel="#{ft.name}"/> 
                                            </h:selectOneMenu>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#type-modal">
                                                    &ensp;<i class="fas fa-plus" style="margin-left: -.3em; margin-right: .3em; "></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Formato:</label>
                                        <div class="input-group mb-2">
                                            <h:selectOneMenu value="#{functionController.function.idFormat}" styleClass="form-control"> 
                                                <f:selectItems value="#{functionController.formats}" var="format" itemValue="#{format.id}" itemLabel="#{format.name}"/> 
                                            </h:selectOneMenu>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#format-modal">
                                                    &ensp;<i class="fas fa-plus" style="margin-left: -.3em; margin-right: .3em; "></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label class="col-12">Asignar Tickets:</label>
                                    <div class="form-group col-6">
                                        <div class="input-group mb-2">
                                            <h:selectOneMenu id="select-tikets" value="#{functionController.function.idTicket}" styleClass="form-control"> 
                                                <f:selectItems value="#{functionController.tickets}" var="ticket" itemValue="#{ticket.id}" itemLabel="#{ticket.name} - #{ticket.cost}$"/> 
                                            </h:selectOneMenu> 
                                            <div class="input-group-append">
                                                <h:commandLink value="&ensp;" action="#{functionController.addTicket}" styleClass="btn btn-success" >
                                                    <i class="fas fa-check" style="margin-left: -.6em; margin-right: .1em; "></i>
                                                    <f:ajax execute="select-tikets" render="tickets-list select-tikets" />
                                                </h:commandLink>

                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ticket-modal">
                                                    &ensp;<i class="fas fa-plus" style="margin-left: -.3em; margin-right: .3em; "></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <h:panelGroup id="tickets-list" layout="block" >
                                        <ui:repeat value="#{functionModel.tickets}"  var="tick" varStatus="status">
                                            <label class="bg-info text-light">
                                                #{tick.name} - #{tick.cost}$
                                                <h:commandLink action="#{functionController.removeTicket(tick.id)}" styleClass="ml-1" value="X" />
                                            </label> 
                                        </ui:repeat>

                                    </h:panelGroup>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label>Fecha</label>
                                        <h:inputText id="input-date" value="#{functionModel.date}" styleClass="form-control place-date" />
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Definir Horarios:</label>
                                        <div class="input-group mb-2">
                                            <h:inputText id="input-time" value="#{functionModel.time}"  styleClass="form-control place-time" />
                                            <div class="input-group-append">
                                                <h:commandButton value="Agregar" action="#{functionController.addTime()}" styleClass="btn btn-success" >
                                                    <f:ajax execute="input-time input-date" render="schedule-list" />
                                                </h:commandButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <h:panelGroup id="schedule-list" class="form-group col-12" layout="block" >
                                        <ui:repeat value="#{functionModel.schedule}"  var="time" varStatus="status">
                                            <label class="bg-info text-light">
                                                <h:outputText value="#{time}" >
                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                                </h:outputText>
                                                <h:commandLink action="#{functionController.removeTime(status.index)}" styleClass="ml-1" value="X" />
                                            </label> 
                                        </ui:repeat>
                                    </h:panelGroup>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <h:commandButton value="Cancelar"  immediate="true" styleClass="btn btn-outline-danger btn-block" />
                                    </div>
                                    <div class="form-group col-6">
                                        <h:commandButton value="Guardar" action="#{functionController.saveFunction()}" styleClass="btn btn-outline-success btn-block" />
                                    </div>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </section>

                <div class="modal fade" id="ticket-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <h:form>
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Crear Nuevo Ticket</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <h:inputText value="#{functionController.ticket.name}" styleClass="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Precio:</label>
                                        <h:inputText value="#{functionController.ticket.cost}" styleClass="form-control" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <h:commandLink value="Guardar" action="#{functionController.saveTicket()}" styleClass="btn btn-primary" />
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade" id="type-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <h:form>
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Crear Nuevo Tipo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <h:inputText value="#{functionController.type.name}" styleClass="form-control" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <h:commandLink value="Guardar" action="#{functionController.saveType()}" styleClass="btn btn-primary" />
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade" id="format-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <h:form>
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Crear Nuevo Format</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <h:inputText value="#{functionController.format.name}" styleClass="form-control" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <h:commandLink value="Guardar" action="#{functionController.saveFormat()}" styleClass="btn btn-primary" />
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>

            </ui:define>

            <ui:define name="script">
                <script>
                    $('.place-date').attr("placeholder", "dd/MM/aaaa");
                    $('.place-time').attr("placeholder", "HH:mm");
                </script>
            </ui:define>
        </ui:composition>

    </body>
</html>
