<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./WEB-INF/templates/main_template.xhtml">

            <ui:define name="content">
                <section class="container">
                    <div class="row my-3 justify-content-center">
                        <!-- slider corousel -->
                        <div class="col-12 col-lg-8">
                            <div id="movie-carousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#movie-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#movie-carousel" data-slide-to="1"></li>
                                    <li data-target="#movie-carousel" data-slide-to="2"></li>
                                    <li data-target="#movie-carousel" data-slide-to="3"></li>
                                    <li data-target="#movie-carousel" data-slide-to="4"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="resources/images/p1.jpg" alt="First slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="resources/images/p2.jpg" alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="resources/images/p3.jpg" alt="Third slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="resources/images/p4.jpg" alt="Fourth slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="resources/images/p5.jpg" alt="Fifth slide" />
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#movie-carousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#movie-carousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div><!-- fin slider corousel -->

                    </div>
                </section>

                <!-- movies list -->
                <section class="container">
                    <div class="row">

                        <div class="col-12 col-md-3">
                            <h:form>
                                <div class="form-group">
                                    <label>Formato:</label>
                                    <select class="form-control">
                                        <option>IMAX 2D</option>
                                        <option>IMAX 3D</option>
                                        <option>Standar 2D</option>
                                        <option>Standar 3D</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Genero:</label>
                                    <select class="form-control">
                                        <option>Accion</option>
                                        <option>Drama</option>
                                        <option>Ciencia Ficion</option>
                                        <option>Comedia</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Idioma:</label>
                                    <select class="form-control">
                                        <option>Español</option>
                                        <option>Ingles</option>
                                        <option>Japones</option>
                                    </select>
                                </div>

                                <button class="btn btn-danger btn-block mb-3">Ver Proximos Estrenos</button>
                            </h:form>

                        </div>


                        <div class="col-12 col-md-9">
                            <h:form>
                                <div class="row justify-content-center">
                                    <ui:repeat value="#{indexController.movies}" var="movie">
                                        <div class="col-10 col-sm-6 col-lg-4 col-xl-3 mb-2">
                                            <div class="card">
                                                <h:commandLink action="#{indexController.showFunctions(movie.id)}">
                                                    <img class="card-img" src="resources/images/movie/#{movie.imageName}" alt="Card image cap" />
                                                </h:commandLink>
                                            </div>
                                        </div>
                                    </ui:repeat> 
                                </div>
                            </h:form>
                        </div>
                    </div>
                </section><!-- fin movies list -->

            </ui:define>

        </ui:composition>

    </body>
</html>

