<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>
        <ui:composition template="./WEB-INF/templates/main_template.xhtml">    
            <ui:define name="auth">
                <f:event type="preRenderView" listener="#{authController.verifySession()}" />
            </ui:define>

            <ui:define name="content">
                <section class="container my-4">
                    <div class="row justify-content-center">

                        <div class="col-12">
                            <h:panelGroup id="error-alert" layout="block" rendered="#{movieController.haveMessage('error-alert')}" styleClass="alert alert-danger alert-dismissible fade show mt-2">
                                <strong>Error, </strong>
                                <h:message for="error-alert"/>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h:panelGroup>

                            <h:panelGroup id="success-alert" layout="block" rendered="#{movieController.haveMessage('success-alert')}" styleClass="alert alert-success alert-dismissible fade show mt-2">
                                <strong>Éxito, </strong>
                                <h:message for="success-alert"/>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h:panelGroup>
                        </div>

                        <div class="col-10 col-sm-4 col-lg-3">
                            <div class="card mb-3">
                                <h:form enctype="multipart/form-data">
                                    <h:graphicImage id="movie-image" value="resources/images/movie/#{movieModel.imageName}" rendered="#{movieModel.imageName ne null}" styleClass="card-img" alt="movie poster"/>
                                    <div class="card-footer p-0 pt-2">
                                        <p:fileUpload id="image-input" value="#{movieController.file}" mode="simple" update="movie-image" styleClass="form-control-file"/>
                                        <h:commandButton value="Cargar Imagen" action="#{movieController.uploadImage()}" styleClass="btn btn-outline-info mt-3 btn-block" />
                                    </div>
                                </h:form>
                            </div>
                        </div>

                        <div class="col-12 col-sm-8 col-lg-9">
                            <h:form id="movie-form">
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label>Título:</label>
                                        <h:inputText value="#{movieModel.title}" styleClass="form-control" />
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Título original:</label>
                                        <h:inputText value="#{movieModel.originalTitle}" styleClass="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label class="col-12">Director/es:</label>
                                    <div class="form-group col-6">

                                        <div class="input-group mb-2">
                                            <h:selectOneMenu id="select-directors" value="#{movieController.movie.idDirector}" styleClass="form-control"> 
                                                <f:selectItems value="#{movieController.directors}" var="director" itemValue="#{director.id}" itemLabel="#{director.name}"/> 
                                            </h:selectOneMenu> 
                                            <div class="input-group-append">
                                                <h:commandLink value="&ensp;" action="#{movieController.addDirector()}" styleClass="btn btn btn-success" >
                                                    <i class="fas fa-check" style="margin-left: -.6em; margin-right: .1em; "></i>
                                                    <f:ajax execute="select-directors" render="directors-list select-directors" />
                                                </h:commandLink>

                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#director-modal">
                                                    &ensp;<i class="fas fa-plus" style="margin-left: -.3em; margin-right: .3em; "></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <h:panelGroup id="directors-list" layout="block" >
                                            <ui:repeat value="#{movieModel.directors}"  var="direct">
                                                <label class="bg-info text-light">
                                                    #{direct.name}
                                                    <h:commandLink styleClass="ml-1" value="X" action="#{movieController.removeDirector(direct.id)}" />
                                                </label> 
                                            </ui:repeat>
                                        </h:panelGroup>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label>Duración:</label>
                                        <h:inputText value="#{movieModel.runtime}" styleClass="form-control place-runtime" />
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Censura:</label>
                                        <h:inputText value="#{movieModel.censure}" styleClass="form-control" />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label>Trailer:</label>
                                        <h:inputText value="#{movieModel.trailer}" styleClass="form-control place-trailer" />
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Fecha de Estreno:</label>
                                        <h:inputText id="release-date" value="#{movieModel.releaseDate}" styleClass="form-control place-date" >
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:inputText>
                                        <small class="text-danger mr-1">
                                            <h:message for="release-date" />
                                        </small>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label class="col-12">Genero/s:</label>
                                    <div class="form-group col-6">

                                        <div class="input-group mb-2">
                                            <h:selectOneMenu id="select-genders" value="#{movieController.movie.idGender}" styleClass="form-control"> 
                                                <f:selectItems value="#{movieController.genders}" var="gender" itemValue="#{gender.id}" itemLabel="#{gender.name}"/> 
                                            </h:selectOneMenu> 
                                            <div class="input-group-append">
                                                <h:commandLink value="&ensp;" action="#{movieController.addGender()}" styleClass="btn btn-success" >
                                                    <i class="fas fa-check" style="margin-left: -.6em; margin-right: .1em; "></i>
                                                    <f:ajax execute="select-genders" render="gender-list select-genders" />
                                                </h:commandLink>

                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gender-modal">
                                                    &ensp;<i class="fas fa-plus" style="margin-left: -.3em; margin-right: .3em; "></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <h:panelGroup id="gender-list" layout="block" >
                                            <ui:repeat value="#{movieModel.genders}"  var="gender" varStatus="status">
                                                <label class="bg-info text-light">
                                                    #{gender.name}
                                                    <h:commandLink styleClass="ml-1" value="X" action="#{movieController.removeGender(gender.id)}" />
                                                </label> 
                                            </ui:repeat>
                                        </h:panelGroup>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Sinopsis</label>
                                    <h:inputTextarea value="#{movieModel.synopsis}" styleClass="form-control" rows="2" />
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <h:commandButton value="Cancelar" action="movie_form?faces-redirect=true" immediate="true" styleClass="btn btn-outline-danger btn-block" />
                                    </div>
                                    <div class="form-group col-6">
                                        <h:commandButton value="Guardar" action="#{movieController.saveMovie()}" styleClass="btn btn-outline-success btn-block" />
                                    </div>
                                </div>

                            </h:form>
                        </div>

                    </div>
                </section>


                <div class="modal fade" id="director-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <h:form id="director-form">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Crear Nuevo Director</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <h:inputText value="#{movieController.director.name}" styleClass="form-control" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <h:commandLink value="Guardar" action="#{movieController.saveDirector()}" styleClass="btn btn-primary" />
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="gender-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <h:form id="gender-form">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Crear Nuevo Genero</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <h:inputText value="#{movieController.gender.name}" styleClass="form-control" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <h:commandLink value="Guardar" action="#{movieController.saveGender()}" styleClass="btn btn-primary" />
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:define>

            <ui:define name="script">
                <script>

                    $(function() {
                        $('.place-date').attr("placeholder", "dd/MM/aaaa");
                        $('.place-runtime').attr("placeholder", "hh:mm");
                        $('.place-trailer').attr("placeholder", "YouTube Link");
                    });
                </script>
            </ui:define>

        </ui:composition>
    </body>
</html>

