<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./WEB-INF/templates/main_template.xhtml">    
            <ui:define name="auth">
                <f:event type="preRenderView" listener="#{authController.verifySession()}" />
            </ui:define>

            <ui:define name="content">
                <section class="container">


                    <div class="row justify-content-center mb-3">

                        <div class="col-12 col-sm-11 col-lg-10">

                            <h:panelGroup id="error-alert" layout="block" rendered="#{profileController.haveMessage('error-alert')}" styleClass="alert alert-danger alert-dismissible fade show mt-2">
                                <strong>Error, </strong>
                                <h:message for="error-alert"/>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h:panelGroup>

                            <h:panelGroup id="success-alert" layout="block" rendered="#{profileController.haveMessage('success-alert')}" styleClass="alert alert-success alert-dismissible fade show mt-2">
                                <strong>Éxito, </strong>
                                <h:message for="success-alert"/>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h:panelGroup>

                            <h1 class="display-4 my-3">Mi perfil</h1>
                            <h:form id="account-form">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nombre:</label>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{profileController.account.person.firstName}"  styleClass="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apellido:</label>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{profileController.account.person.lastName}" styleClass="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Email:</label>
                                    <div class="col-sm-10">
                                        <ui:fragment rendered="#{authController.admin}" >
                                            <h:inputText value="#{profileController.account.email}" styleClass="form-control"/>
                                        </ui:fragment>
                                        <ui:fragment rendered="#{not authController.admin}" >
                                            <h:inputText value="#{profileController.account.email}" styleClass="form-control" readonly="true"/>
                                        </ui:fragment>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Contraseña:</label>
                                    <div class="col-sm-5">
                                        <h:inputSecret id="odlPassword" value="#{profileController.account.oldPassword}" styleClass="form-control place-oldPassword"/>
                                    </div>
                                    <div class="col-sm-5">
                                        <h:inputSecret id="newPassword" value="#{profileController.account.newPassword}" styleClass="form-control place-newPassword"/>

                                    </div>
                                </div>
                                <div class="form-group row justify-content-end">
                                    <div class="col-sm-10">
                                        <h:commandButton value="Guardar" actionListener="#{profileController.updateAccount()}" styleClass="btn btn-outline-info btn-block" />
                                    </div>
                                </div>

                            </h:form>
                        </div>
                    </div>
                </section>
            </ui:define>

            <ui:define name="script">
                <script>
                    $('.place-oldPassword').attr("placeholder", "Anterior");
                    $('.place-newPassword').attr("placeholder", "Nueva");
                </script>
            </ui:define>
        </ui:composition>

    </body>
</html>
