<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./WEB-INF/templates/main_template.xhtml">

            <ui:define name="content">
                <div class="container">
                    <div class="row justify-content-center">

                        <!-- register form -->
                        <div class="col-12 col-sm-11 col-md-8">
                            <ui:fragment rendered="#{not authController.auth}" >
                                <h1 class="display-4 my-3">Registro</h1>
                                <h:form id="register-form">

                                    <h:panelGroup id="error-alert" layout="block" rendered="#{indexController.haveMessage('register-form:error-alert')}" styleClass="alert alert-danger alert-dismissible fade show">
                                        <strong>Error, </strong>
                                        <h:message for="error-alert"/>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </h:panelGroup>

                                    <h:panelGroup id="success-alert" layout="block" rendered="#{indexController.haveMessage('register-form:success-alert')}" styleClass="alert alert-success alert-dismissible fade show">
                                        <strong>Éxito, </strong>
                                        <h:message for="success-alert"/>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </h:panelGroup>

                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label>Nombre:</label>
                                            <h:inputText id="nombre" value="#{indexController.register.firstName}" styleClass="form-control"/>
                                            <small class="text-danger">
                                                <h:message for="nombre" />
                                            </small>
                                        </div>
                                        <div class="form-group col-6">
                                            <label>Apellido:</label>
                                            <h:inputText id="apellido" value="#{indexController.register.lastName}" styleClass="form-control" />
                                            <small class="text-danger">
                                                <h:message for="apellido" />
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Email:</label>
                                        <h:inputText id="email" value="#{indexController.register.email}" styleClass="form-control " />
                                        <small class="text-danger">
                                            <h:message for="email" />
                                        </small>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label>Contraseña:</label>
                                            <h:inputSecret id="password" value="#{indexController.register.password}" styleClass="form-control" />
                                            <small class="text-danger">
                                                <h:message for="password" />
                                            </small>
                                        </div>
                                        <div class="form-group col-6">
                                            <label>Repetir:</label>
                                            <h:inputSecret id="repetir" value="#{indexController.register.confirmPassword}" styleClass="form-control" />
                                            <small class="text-danger">
                                                <h:message for="repetir" />
                                            </small>
                                        </div>
                                    </div>
                                    <h:commandButton value="Registrarme" actionListener="#{indexController.createAcount()}" styleClass="btn btn-outline-info btn-block"/>
                                </h:form>
                            </ui:fragment>
                        </div><!-- fin register form -->
                    </div>
                </div>
            </ui:define>
        </ui:composition>

    </body>
</html>
