<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="./WEB-INF/templates/main_template.xhtml">    

            <ui:define name="content">

                <section class="container my-4">
                    <div class="row justify-content-center">
                        <div class="col-10 col-sm-4 col-lg-3 mb-3">
                            <img class="img-fluid" src="resources/images/movie/#{selectTicketController.function.movie.imageName}" alt="movie image" />
                        </div>

                        <div class="col-12 col-sm-8 col-lg-9">

                            <div class="row justify-content-center">
                                <div class="col-12 col-md-11">

                                    <h:panelGroup id="warning-alert" layout="block" rendered="#{selectTicketController.haveMessage('warning-alert')}" styleClass="alert alert-warning alert-dismissible fade show">
                                        <strong>Aviso, </strong>
                                        <h:message for="warning-alert"/>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </h:panelGroup>

                                    <h:panelGroup id="error-alert" layout="block" rendered="#{selectTicketController.haveMessage('error-alert')}" styleClass="alert alert-danger alert-dismissible fade show">
                                        <strong>Error, </strong>
                                        <h:message for="error-alert"/>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </h:panelGroup>


                                    <h3 class="text-capitalize mb-3"><span class="text-primary mr-2">#{selectTicketController.function.movie.title}</span>#{selectTicketController.function.format.name} #{selectTicketController.function.type.name}</h3>
                                    <div class="form-row">
                                        <div class="form-group col-6 row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Censura:</strong></label>
                                            <div class="col-8 col-lg-9">
                                                <label class="col-form-label">#{selectTicketController.function.movie.censure}</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-6 row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Duración:</strong></label>
                                            <div class="col-8 col-lg-9">
                                                <label class="col-form-label">#{selectTicketController.function.movie.runtime}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6 row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Sala:</strong></label>
                                            <div class="col-8 col-lg-9">
                                                <label class="col-form-label">#{selectTicketController.function.hall.name}</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-6 row mb-0">
                                            <label class="col-4 col-lg-3 col-form-label"><strong class="text-primary">Función:</strong></label>
                                            <div class="col-8 col-lg-9">
                                                <h:outputLabel value="#{selectTicketController.function.functionDateTime}" styleClass="col-form-label">
                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                                </h:outputLabel>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-11">
                                    <div class="card mt-3">
                                        <div class="card-header">
                                            Seleccione el Tipo de Entrada y la Cantidad
                                        </div>
                                        <div class="card-body py-0 px-2">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th class="text-primary" scope="col">Ticket</th>
                                                        <th class="text-primary" scope="col">Precio</th>
                                                        <th class="text-primary" scope="col">Cantidad</th>
                                                        <th class="text-primary" scope="col">Sub Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <h:form>
                                                        <ui:repeat value="#{selectTicketController.functionOrder.ordersDetail}" var="detail" >
                                                            <tr>
                                                                <td>#{detail.description}</td>
                                                                <td>
                                                                    <h:outputText value="#{detail.cost}">
                                                                        <f:convertNumber minFractionDigits="2" type="currency"/>
                                                                    </h:outputText> 
                                                                </td>
                                                                <td>
                                                                    <div class="input-group input-group-sm">
                                                                        <div class="input-group-prepend">
                                                                            <h:commandButton value="-" action="#{selectTicketController.decreaseAmount(detail)}" styleClass="btn btn-outline-secondary">
                                                                                <f:ajax render="lbl-amount subtotal :total" />
                                                                            </h:commandButton>
                                                                        </div>
                                                                        <h:outputLabel id="lbl-amount" value="#{detail.amount}" styleClass="form-control text-center" >
                                                                            <f:convertNumber minFractionDigits="0"/>
                                                                        </h:outputLabel>
                                                                        <div class="input-group-append">
                                                                            <h:commandButton value="+" action="#{selectTicketController.increaseAmount(detail)}" styleClass="btn btn-outline-secondary">
                                                                                <f:ajax render="lbl-amount subtotal :total" />
                                                                            </h:commandButton>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <h:outputText id="subtotal" value="#{detail.subTotal}" >
                                                                        <f:convertNumber minFractionDigits="2" type="currency"/>
                                                                    </h:outputText>
                                                                </td>
                                                            </tr>
                                                        </ui:repeat>
                                                    </h:form>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="card-footer container">
                                            <div class="row justify-content-end">
                                                <div class="col-auto">
                                                    <span class="card-text text-primary mr-1">Total:</span>
                                                    <h:outputText id="total" value="#{selectTicketController.functionOrder.total}" styleClass="mr-3" >
                                                        <f:convertNumber minFractionDigits="2" type="currency"/>
                                                    </h:outputText>        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-11">
                                    <h:form>
                                        <div class="form-row mt-3">
                                            <div class="form-group col-6">
                                                <h:button outcome="function" value="Regresar"  styleClass="btn btn-outline-info btn-block"/>
                                            </div>
                                            <div class="form-group col-6">
                                                <h:commandButton value="Continuar" action="#{selectTicketController.continueWithTheOrder()}" styleClass="btn btn-outline-success btn-block" />
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </ui:define>

        </ui:composition>
    </h:body>
</html>

