<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="./WEB-INF/templates/main_template.xhtml">    
            <ui:define name="auth">
                <f:event type="preRenderView" listener="#{authController.verifySession()}" />
            </ui:define>

            <ui:define name="content">
                <section class="container my-4">
                    <div class="row justify-content-center">
                        <div class="col-11 col-sm-6 mb-3">

                            <img class="img-fluid" src="resources/images/hall/#{selectSeatController.functionOrder.ordersDetail.get(0).function.hall.imageName}" alt="hall image" />
                            <div class="form-row">
                                <div class="form-group col-6 row mb-0">
                                    <label class="col-4 col-form-label"><strong class="text-primary">Sala:</strong></label>
                                    <div class="col-8">
                                        <label class="col-form-label">#{selectSeatController.functionOrder.hall}</label>
                                    </div>
                                </div>
                                <div class="form-group col-6 row mb-0">
                                    <label class="col-4 col-form-label"><strong class="text-primary">Función:</strong></label>
                                    <div class="col-8">
                                        <h:outputLabel value="#{selectSeatController.functionOrder.functionDate}" styleClass="col-form-label">
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                        </h:outputLabel>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-0">
                                <label class="col-2 col-form-label"><strong class="text-primary">Película:</strong></label>
                                <label class="col-10 col-form-label">#{selectSeatController.functionOrder.movie}</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-12 col-md-11">
                                    <h3 class="text-capitalize mb-3"><span class="text-primary mr-2">Detalle</span>de Compra</h3>
                                    <div class="form-row">
                                        <div class="form-group col-6 row mb-0">
                                            <label class="col-4 col-form-label"><strong class="text-primary">Tickets:</strong></label>
                                            <div class="col-8">
                                                <h:outputLabel value="#{selectSeatController.functionOrder.ticketsNumber}" styleClass="col-form-label" >
                                                    <f:convertNumber minFractionDigits="0"/>
                                                </h:outputLabel>
                                            </div>
                                        </div>
                                        <div class="form-group col-6 row mb-0">
                                            <label class="col-4 col-form-label"><strong class="text-primary">Total:</strong></label>
                                            <div class="col-8">
                                                <h:outputLabel value="#{selectSeatController.functionOrder.total}" styleClass="col-form-label" >
                                                    <f:convertNumber minFractionDigits="2" type="currency"/>
                                                </h:outputLabel> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-11">
                                    <div class="card mt-3">
                                        <div class="card-header">
                                            Seleccionar Asientos
                                        </div>
                                        <div class="card-body py-0 px-2">
                                            <h:form id="form-select-seat">
                                                <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-primary" scope="col">Ticket</th>
                                                            <th class="text-primary" scope="col">Cantidad</th>
                                                            <th class="text-primary" scope="col">Asiento</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <ui:repeat value="#{selectSeatController.functionOrder.ordersDetail}" var="detail" >
                                                            <tr>
                                                                <td>#{detail.description}</td>
                                                                <td>
                                                                    <h:outputText id="txt-amount" value="#{detail.amount}">
                                                                        <f:convertNumber minFractionDigits="0"/>
                                                                    </h:outputText>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group input-group-sm">
                                                                        <h:selectOneMenu id="select-seat" value="#{selectSeatController.idSeat}" styleClass="form-control"> 
                                                                            <f:selectItems value="#{selectSeatController.seats}" var="seat" itemValue="#{seat.id}" itemLabel="#{seat.numRow}#{seat.numColumn}"/> 
                                                                        </h:selectOneMenu>
                                                                        <div class="input-group-append">
                                                                            <h:commandButton value="+" action="#{selectSeatController.addSeat(detail.description)}" styleClass="btn btn-primary" >
                                                                                <f:ajax execute="select-seat" render=":seats-list :form-select-seat"/>
                                                                            </h:commandButton>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </ui:repeat>
                                                    </tbody>
                                                </table>
                                            </h:form>
                                        </div>
                                        <div class="card-footer text-center">
                                            <h:form id="seats-list">
                                                <ui:repeat value="#{selectSeatController.functionOrder.ordersDetail}" var="detail" varStatus="detailStatus">
                                                    <ui:repeat value="#{detail.seats}" var="seat" varStatus="seatStatus">
                                                        <label class="bg-info text-light">
                                                            #{seat.numRow}#{seat.numColumn}
                                                            <h:commandLink styleClass="ml-1" value="X" action="#{selectSeatController.removeSeat(detailStatus.index, seatStatus.index)}" />
                                                        </label>
                                                    </ui:repeat>
                                                </ui:repeat>
                                            </h:form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-11">
                                    <h:form>
                                        <div class="form-row mt-3">
                                            <div class="form-group col-6">
                                                <h:button outcome="select_ticket" value="Regresar"  styleClass="btn btn-outline-info btn-block"/>
                                            </div>
                                            <div class="form-group col-6">
                                                <h:commandButton value="Pagar" action="#{selectSeatController.pay()}" styleClass="btn btn-outline-success btn-block" />
                                            </div>
                                        </div>  
                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </ui:define>


        </ui:composition>
    </h:body>
</html>

