<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./WEB-INF/templates/main_template.xhtml">

            <ui:define name="content">
                <section class="container mt-4">
                    <h:form>
                        <div class="row justify-content-center justify-content-sm-start">

                            <ui:repeat value="#{showSnackController.snacks}" var="snack">
                                <div class="col-10 col-sm-6 col-lg-4 mb-5">
                                    <div class="card">
                                        <img class="card-img" src="resources/images/snack/#{snack.imageName}" alt="snack image" />
                                    </div>
                                    <div class="btn-group" role="group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Precio:</span>
                                            </div>
                                            <h:inputText value="#{snack.cost}" styleClass="form-control text-center" disabled="true">
                                                <f:convertNumber minFractionDigits="2" type="currency"/>
                                            </h:inputText>
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">Ver Detalles</button>
                                                <h:commandLink value="&ensp;" action="#{showSnackController.addSnack(snack)}" styleClass="btn btn-success " >
                                                    <i class="fas fa-cart-plus" style="margin-left: -.6em"></i>
                                                    <f:ajax render=":snack-order-detail"/>
                                                </h:commandLink>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ui:repeat>

                        </div>
                    </h:form>
                </section>
            </ui:define>

        </ui:composition>

    </body>
</html>
