<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="./WEB-INF/templates/main_template.xhtml">    
            <ui:define name="auth">
                <f:event type="preRenderView" listener="#{authController.verifySession()}" />
            </ui:define>

            <ui:define name="content">
                <section class="container my-4">
                    <div class="row justify-content-center">

                        <div class="col-12">
                            <h:panelGroup id="error-alert" layout="block" rendered="#{movieController.haveMessage('error-alert')}" styleClass="alert alert-danger alert-dismissible fade show mt-2">
                                <strong>Error, </strong>
                                <h:message for="error-alert"/>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h:panelGroup>

                            <h:panelGroup id="success-alert" layout="block" rendered="#{movieController.haveMessage('success-alert')}" styleClass="alert alert-success alert-dismissible fade show mt-2">
                                <strong>Éxito, </strong>
                                <h:message for="success-alert"/>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h:panelGroup>
                        </div>

                        <div class="col-10 col-sm-4">
                            <div class="card mb-3">
                                <h:form enctype="multipart/form-data">
                                    <h:graphicImage id="snack-image" value="resources/images/snack/#{snackModel.imageName}" rendered="#{snackModel.imageName ne null}" styleClass="card-img" alt="snack image"/>
                                    <div class="card-footer p-0 pt-2">
                                        <p:fileUpload id="image-input" value="#{snackController.file}" mode="simple" update="snack-image" styleClass="form-control-file"/>
                                        <h:commandButton value="Cargar Imagen" action="#{snackController.uploadImage()}" styleClass="btn btn-outline-info mt-3 btn-block" />
                                    </div>
                                </h:form>
                            </div>
                        </div>

                        <div class="col-12 col-sm-8">
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <h:form>
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label>Nombre:</label>
                                                <h:inputText value="#{snackModel.name}" styleClass="form-control" />
                                            </div>
                                            <div class="form-group col-6">
                                                <label>Precio:</label>
                                                <h:inputText value="#{snackModel.cost}" styleClass="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Descripción:</label>
                                            <h:inputTextarea value="#{snackModel.description}" styleClass="form-control" rows="2" />
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <h:button outcome="snack_form?faces-redirect=true" value="Cancelar" styleClass="btn btn-outline-danger btn-block" />
                                            </div>
                                            <div class="form-group col-6">
                                                <h:commandButton value="Guardar" action="#{snackController.saveSnack()}" styleClass="btn btn-outline-success btn-block" />
                                            </div>
                                        </div>
                                    </h:form>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </ui:define>

        </ui:composition>
    </h:body>
</html>

