<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="./WEB-INF/templates/main_template.xhtml">    

            <ui:define name="content">
                <section class="container my-4">
                    <div class="row justify-content-center">
                        <div class="col-12">

                            <h:panelGroup id="warning-alert" layout="block" rendered="#{snackController.haveMessage('warning-alert')}" styleClass="alert alert-warning alert-dismissible fade show">
                                <strong>Aviso, </strong>
                                <h:message for="warning-alert"/>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h:panelGroup>

                            <div class="card">
                                <div class="card-header d-flex">
                                    <h4 class="text-primary align-self-center">Detalle de Orden</h4>
                                    <div class="ml-auto">
                                        <h:form>
                                            <h:commandButton value="Cancelar" action="#{snackOrderController.cancelOrder()}" styleClass="btn btn-outline-danger mr-2" />
                                            <h:commandButton value="Pagar" action="#{snackOrderController.pay()}" styleClass="btn btn-outline-success" />
                                        </h:form>
                                    </div>
                                </div>
                                <div class="card-body table-responsive pt-2 pb-3 px-2">
                                    <h:form id="detail-order">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-primary" scope="col">Detalle</th>
                                                    <th class="text-primary" scope="col">Cantidad</th>
                                                    <th class="text-primary" scope="col">Costo</th>
                                                    <th class="text-primary" scope="col">Sub Total</th>
                                                    <th class="text-primary" scope="col">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <ui:repeat  value="#{snackOrderModel.snackOrdersDetail}" var="detail" varStatus="status">
                                                    <tr>
                                                        <td>#{detail.description}, #{detail.snack.description}</td>
                                                        <td>
                                                            <div class="input-group input-group-sm">
                                                                <div class="input-group-prepend">
                                                                    <h:commandButton value="-" action="#{snackOrderController.decreaseAmount(status.index)}" styleClass="btn btn-outline-secondary" >
                                                                        <f:ajax render=":detail-order :order-total :snack-order-detail" />
                                                                    </h:commandButton>
                                                                </div>
                                                                <h:outputLabel value="#{detail.amount}" styleClass="form-control text-center" >
                                                                    <f:convertNumber minFractionDigits="0"/>
                                                                </h:outputLabel>
                                                                <div class="input-group-append">
                                                                    <h:commandButton value="+" action="#{snackOrderController.increaseAmount(status.index)}" styleClass="btn btn-outline-secondary" >
                                                                        <f:ajax render=":detail-order :order-total :snack-order-detail" />
                                                                    </h:commandButton>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <h:outputText value="#{detail.cost}">
                                                                <f:convertNumber minFractionDigits="2" type="currency"/>
                                                            </h:outputText>
                                                        </td>
                                                        <td>
                                                            <h:outputText value="#{detail.subTotal}">
                                                                <f:convertNumber minFractionDigits="2" type="currency"/>
                                                            </h:outputText>
                                                        </td>
                                                        <td>
                                                            <h:commandButton value="Eliminar" action="#{snackOrderController.removeItem(status.index)}" styleClass="btn btn-danger btn-sm" />
                                                        </td>
                                                    </tr>
                                                </ui:repeat>
                                            </tbody>
                                        </table>
                                    </h:form>
                                </div>
                                <div class="card-footer text-right">
                                    <span class="card-text text-primary mr-1 h5">Total:</span>
                                    <h:outputText id="order-total" value="#{snackOrderModel.total}" styleClass="mx-2">
                                        <f:convertNumber minFractionDigits="2" type="currency"/>
                                    </h:outputText>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </ui:define>

        </ui:composition>
    </h:body>
</html>

