<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="./WEB-INF/templates/main_template.xhtml">    
            <ui:define name="auth">
                <f:event type="preRenderView" listener="#{authController.verifySession()}" />
            </ui:define>

            <ui:define name="content">
                <section class="container my-4">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card mb-2">
                                <h:form>
                                    <div class="card-header d-flex">
                                        <h4 class="text-primary align-self-center">Ordenes de funciones</h4>
                                    </div>
                                    <div class="card-body table-responsive pt-2 pb-3 px-2">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-primary" scope="col">Fecha</th>
                                                    <th class="text-primary" scope="col">Cliente</th>
                                                    <th class="text-primary" scope="col">Función</th>
                                                    <th class="text-primary" scope="col">Estado</th>
                                                    <th class="text-primary" scope="col">Total</th>
                                                    <!--                                                <th class="text-primary" scope="col">Acción</th>-->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ui:repeat value="#{viewOrderController.functionOrders}" var="function">
                                                    <tr>
                                                        <td>
                                                            <h:outputText value="#{function.orderDate}" >
                                                                <f:convertDateTime pattern="dd/MM/yyyy" />
                                                            </h:outputText>
                                                        </td>
                                                        <td>#{function.account.person.firstName} #{function.account.person.lastName}</td>
                                                        <td>
                                                            #{function.functionOrdersDetail.get(0).function.movie.title},
                                                            #{function.functionOrdersDetail.get(0).function.hall.name},
                                                            #{function.functionOrdersDetail.get(0).function.format.name}
                                                            #{function.functionOrdersDetail.get(0).function.type.name},
                                                            <h:outputText value="#{function.functionOrdersDetail.get(0).function.functionDateTime}" >
                                                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                                                            </h:outputText>
                                                        </td>
                                                        <td>#{function.status}</td>

                                                        <td>
                                                            <h:outputText value="#{function.total}" >
                                                                <f:convertNumber minFractionDigits="2" type="currency"/>
                                                            </h:outputText>
                                                        </td>
                                                        <td>
                                                            <h:commandLink value="Detalles" action="#{viewOrderController.showDetailFunction(function)}"  styleClass="btn btn-primary btn-sm btn-function-detail" >
                                                                <f:ajax render=":function-detail"/>
                                                            </h:commandLink>
                                                        </td>
                                                    </tr>
                                                </ui:repeat>
                                            </tbody>
                                        </table>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="modal fade" id="modal-function-detail" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <h:form id="function-detail">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Detalle de Orden N: #{viewOrderController.functionOrder.id}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-primary" scope="col">Descripcion</th>
                                                <th class="text-primary" scope="col">Cantidad</th>
                                                <th class="text-primary" scope="col">Costo</th>
                                                <th class="text-primary" scope="col">Subtotal</th>
                                                <th class="text-primary" scope="col">Asiento/s</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ui:repeat value="#{viewOrderController.functionOrder.functionOrdersDetail}" var="detail">
                                                <tr>
                                                    <td>#{detail.description}</td>
                                                    <td>
                                                        <h:outputText value="#{detail.amount}" >
                                                            <f:convertNumber minFractionDigits="0"/>
                                                        </h:outputText>
                                                    </td>
                                                    <td>
                                                        <h:outputText value="#{detail.cost}" >
                                                            <f:convertNumber minFractionDigits="2" type="currency"/>
                                                        </h:outputText>
                                                    </td>
                                                    <td>
                                                        <h:outputText value="#{detail.subTotal}" >
                                                            <f:convertNumber minFractionDigits="2" type="currency"/>
                                                        </h:outputText>
                                                    </td>
                                                    <td>
                                                        <ui:repeat value="#{detail.seats}" var="seat">
                                                            #{seat.numRow}#{seat.numColumn},
                                                        </ui:repeat>
                                                    </td>
                                                </tr>
                                            </ui:repeat>

                                        </tbody>
                                    </table>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:define>

            <ui:define name="script">
                <script>
                    $(function() {
                        $(".btn-function-detail").click(function() {
                            $('#modal-function-detail').modal('show');
                        });
                    });
                </script>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

