<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="./WEB-INF/templates/main_template.xhtml">    
            <ui:define name="auth">
                <f:event type="preRenderView" listener="#{authController.verifySession()}" />
            </ui:define>

            <ui:define name="content">
                <section class="container my-4">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card mb-2">
                                <div class="card-header d-flex">
                                    <h4 class="text-primary align-self-center">Salas</h4>
                                </div>
                                <div class="card-body table-responsive pt-2 pb-3 px-2">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-primary" scope="col">Nombre</th>
                                                <th class="text-primary" scope="col">N Asientos</th>
                                                <th class="text-primary" scope="col">Asientos</th>
<!--                                                <th class="text-primary" scope="col">Acción</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ui:repeat value="#{viewHallController.hall}" var="hall">
                                                <tr>
                                                    <td>#{hall.name}</td>
                                                    <td>#{hall.seats.size()}</td>
                                                    <td>
                                                        <ui:repeat value="#{hall.seats}" var="seat">
                                                            #{seat.numRow}#{seat.numColumn},
                                                        </ui:repeat>
                                                    </td>
<!--                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-sm">Detalles</button>
                                                        <button type="button" class="btn btn-secondary btn-sm">Editar</button>
                                                    </td>-->
                                                </tr>
                                            </ui:repeat>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </ui:define>

        </ui:composition>
    </h:body>
</html>

