<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <h:outputStylesheet library="css" name="bootstrap.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700" />
        <h:outputStylesheet library="css" name="app.css" />


        <h:outputScript library="js" name="jquery.js" />
        <h:outputScript library="js" name="bootstrap.js" />
        <h:outputScript library="js" name="fontawesome-all.js" />

        <title><ui:insert name="title">Main</ui:insert> | CineSmart</title>

        <ui:insert name="auth" />
    </h:head>

    <h:body>

        <ui:insert name="top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="index.xhtml"><strong class="text-primary">Cine</strong>Smart</a>

                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <h:link outcome="index" value="Inicio" styleClass="nav-link"/> 
                            </li>

                            <ui:fragment rendered="#{authController.admin}" >
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Nuevo
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <h:link outcome="movie_form" value="Película" styleClass="dropdown-item"/>
                                        <h:link outcome="function_form" value="Función" styleClass="dropdown-item"/>
                                        <h:link outcome="snack_form" value="Snack" styleClass="dropdown-item"/>
                                    </div>
                                </li>
                            </ui:fragment>

                            <ui:fragment rendered="#{authController.admin}" >
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Listar
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <h:link outcome="view_movie" value="Películas" styleClass="dropdown-item"/>
                                        <h:link outcome="view_function" value="Funciones" styleClass="dropdown-item"/>
                                        <h:link outcome="view_snack" value="Snacks" styleClass="dropdown-item"/>
                                        <h:link outcome="view_hall" value="Salas" styleClass="dropdown-item"/>
                                    </div>
                                </li>
                            </ui:fragment>
                            
                            <ui:fragment rendered="#{authController.admin}" >
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Ordenes
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <h:link outcome="view_function_order" value="Funciones" styleClass="dropdown-item"/>
                                        <h:link outcome="view_snack_order" value="Snacks" styleClass="dropdown-item"/>
                                    </div>
                                </li>
                            </ui:fragment>

                            <li class="nav-item">
                                <h:link outcome="snack" value="Dulceria" styleClass="nav-link"/>
                            </li>
<!--                            <li class="nav-item">
                                <h:link outcome="about" value="Nosotros" styleClass="nav-link"/>
                            </li>-->
                        </ul>
                    </div>

                    <ul class="navbar-nav mr-2">
                        <li class="nav-item dropdown ">
                            <h:form id="snack-order-detail" >

                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-shopping-cart text-primary" style="font-size: 1.2em;"></i>
                                    <h:outputText value="#{snackOrderModel.snackOrdersDetail.size()}" styleClass="text-light font-weight-bold ml-1" />
                                </a>
                                
                                <h:panelGroup layout="block" rendered="#{snackOrderModel.snackOrdersDetail.size() gt 0}" styleClass="dropdown-menu p-0" style="min-width: 14rem;">
                                    <table class="table m-0">
                                        <tbody>
                                            <ui:repeat value="#{snackOrderModel.snackOrdersDetail}" var="detail">
                                                <tr>
                                                    <th class="px-1 py-2">
                                                        <h:outputText value="#{detail.amount}" >
                                                            <f:convertNumber minFractionDigits="0"/>
                                                        </h:outputText>
                                                    </th>
                                                    <td class="px-1 py-2">#{detail.description}</td>
                                                    <td class="px-1 py-2">
                                                        <h:outputText value="#{detail.subTotal}">
                                                            <f:convertNumber minFractionDigits="2" type="currency"/>
                                                        </h:outputText>
                                                    </td>
                                                </tr>
                                            </ui:repeat>
                                        </tbody>
                                    </table>
                                    <div class="row no-gutters bg-dark p-1">
                                        <div class="col">
                                            <label class="col-form-label text-primary">
                                                Total:
                                                <h:outputText value="#{snackOrderModel.total}" styleClass="text-light ml-2" >
                                                    <f:convertNumber minFractionDigits="2" type="currency"/>
                                                </h:outputText>
                                            </label>
                                        </div>
                                        <div class="col-auto">
                                            <h:button outcome="snack_order" value="Ver Orden" styleClass="btn btn-block btn-primary" />
                                        </div>
                                    </div>
                                </h:panelGroup>

                            </h:form>
                        </li>
                    </ul>

                    <ui:fragment rendered="#{not authController.auth}" >
                        <h:form id="login-form" styleClass="form-inline my-2 my-lg-0">
                            <small class="text-danger mr-1">
                                <h:message for="login-email" />
                            </small>
                            <h:inputText id="login-email" value="#{indexController.login.username}" styleClass="form-control my-1 my-md-0 mr-sm-2 place-email" />
                            <h:inputSecret id="login-password" value="#{indexController.login.password}" styleClass="form-control my-1 my-md-0 place-password" />
                            <h:commandButton value="Ingresar" action="#{indexController.userLogin()}" styleClass="btn btn-primary my-2 my-md-0 mx-2"/>
                            <h:link value="Registrarme" outcome="register" styleClass="btn btn-info my-2 my-md-0"/>
                        </h:form>
                    </ui:fragment>

                    <ui:fragment rendered="#{authController.auth}" >
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    #{authController.account.person.firstName} #{authController.account.person.lastName}
                                </a>
                                <div class="dropdown-menu">
                                    <h:link outcome="profile" value="Mi Cuenta" styleClass="dropdown-item"/>
                                    <h:link outcome="my_order" value="Mis Compras" styleClass="dropdown-item"/>
                                </div>
                            </li>
                            <li class="nav-item">
                                <h:form id="logout-form">
                                    <h:commandLink value="Cerrar Sesión" action="#{authController.logout()}" styleClass="nav-link"/>
                                </h:form>
                            </li>
                        </ul>
                    </ui:fragment>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
            </nav>
        </ui:insert>

        <ui:insert name="content" />

        <ui:insert name="bottom">
            <footer class="container-fluid text-center page-content">
                <p class="m-0 py-3">2018 © CineSmart. Design by <a href="https://github.com/bxacosta" target="_blank">Bryan Acosta</a>.</p>
            </footer>
        </ui:insert>


        <ui:insert name="script">
            <script>
                $('.place-email').attr("placeholder", "Email");
                $('.place-password').attr("placeholder", "Contraseña");
            </script>
        </ui:insert>

    </h:body>

</html>
